.UIForm-Button {
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 7px 9px;
  text-align: center;

  &:focus {
    outline: 0;
  }
}
