.UIForm-Input {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  padding: 7px 9px;

  &:focus {
    outline: 0;
  }
}

